body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(casino.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100vh;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h1 {
    color: goldenrod;
    font-size: 4em;
}

#message-el {
font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}